<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active textoNaImagem dTexto">
      <img src="../../../assets/img/banner1.jpeg" class="d-block w-100" alt="...">
      <h1 class="slogan w-75 fw-bolder">SUA CONTA ABERTA<br> COM UMA PALAVRA</h1>
    </div>
    <div class="carousel-item textoNaImagem eTexto">
      <img src="../../../assets/img/banner2.jpeg" class="d-block w-100" alt="...">
      <h1 class="slogan w-75 fw-bolder">AQUI SUAS DESCULPAS <br> VALEM MUITO!</h1>
    </div>
  </div>
</div>
